@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

body, nav, .font-primary{
    font-family: 'Poppins', sans-serif;
}

.btn-gradient {
    background-color: linear-gradient(90deg, rgba(255,64,154,1) 0%, rgba(173,73,251,1) 50%, rgba(99,49,209,1) 100%);
    color: white;
}

.bg-black-index {
    background-image: url('/img/_bgBIndex.png');
    height: 768px;
    background-repeat: no-repeat;
}

.bg-white-index {
    background-image: url('/img/_bgWIndex.png');
    height: 861px;
    background-repeat: no-repeat;
}

.transformY-65 {
    transform: translateY(65%);
}

.easy-step {
    position: absolute;
    bottom: 5%;
    left: 40%;
}

.text-head {
  background: -webkit-linear-gradient(90deg, rgba(255,64,154,1) 0%, rgba(173,73,251,1) 50%, rgba(99,49,209,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

@media screen and (max-width: 765px) and (min-width: 320px) {
    .bg-white-index { height: 1100px; }
    .transformY-65 { transform: translateY(0%); }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .bg-white-index { height: 950px; }
    .transformY-65 { transform: translateY(0%); }
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left;
    padding: 16px;
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    /* color: #2C3E50;
    background-color: #ECEFF1; */
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ad49fb;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: linear-gradient(92.82deg, #ff409a 2.03%, #ad49fb 57.42%, #6331d1 99.85%);
    
    border-color: linear-gradient(92.82deg, #ff409a 2.03%, #ad49fb 57.42%, #6331d1 99.85%);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    margin: 10px 0px 10px 5px; 
    font-family: pop;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

#msform .action-button:disabled {
    pointer-events: none;
    opacity: 0.65;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background: linear-gradient(90deg, #ff003d 0%, #cc00ff 100%);
}

#msform .action-button-previous {
    width: 100px;
    color: #ad49fb;
    border-color: #ad49fb;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    margin: 10px 5px 10px 0px; 
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #ad49fb !important;
    color: #FFFFFF !important;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
    border-radius: 8px;
}

.fs-title {
    font-size: 25px;
    color: #ad49fb;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #ad49fb;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #ad49fb
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar #comment:before {
    font-family: FontAwesome;
    content: "\f086"
}

#progressbar #money:before {
    font-family: FontAwesome;
    content: "\f15a"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: linear-gradient(90deg, #ff003d 0%, #cc00ff 100%);
}

.fit-image {
    width: 100%;
    object-fit: cover
}


.pie-chart {
	background:
		radial-gradient(
			circle closest-side,
			white 0,
			white 52.8%,
			transparent 52.8%,
			transparent 60%,
			white 0
		),
		conic-gradient(
			#ad49fb 0,
			#ad49fb 50%,
			#ccc 0,
			#ccc 100%
	);
	position: relative;
	width: 100%;
	min-height: 150px;
	margin: 0;
	/* outline: 1px solid #ccc; */
}
.pie-chart .caption-inside{
  font-size:10px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
